/*=== CHANGE-COLOR ===========================================*/

/* square1 */
#product .content .img-product.changeColor1 {
  background-image: url(./MASCULINO\ \(12\).jpg);
}

#product .content .squares .square.s1 {
  background-image: url(./MASCULINO\ \(12\).jpg);
}


/* square2 */
#product .content .img-product.changeColor2 {
  background-image: url(./MASCULINO\ \(14\).jpg);
}

#product .content .squares .square.s2 {
  background-image: url(./MASCULINO\ \(14\).jpg);
}


/* square3 */
#product .content .img-product.changeColor3 {
  background-image: url(./MASCULINO\ \(70\).jpg);
}

#product .content .squares .square.s3 {
  background-image: url(./MASCULINO\ \(70\).jpg);
}


/* square4 */
#product .content .img-product.changeColor4 {
  background-image: url(./MASCULINO\ \(71\).jpg);
}

#product .content .squares .square.s4 {
  background-image: url(./MASCULINO\ \(71\).jpg);
}


/* square5 */
#product .content .img-product.changeColor5 {
  background-image: url(./MASCULINO\ \(76\).jpg);
}

#product .content .squares .square.s5 {
  background-image: url(./MASCULINO\ \(76\).jpg);
}


/* square6 */
#product .content .img-product.changeColor6 {
  background-image: url(./MASCULINO\ \(82\).jpg);
}

#product .content .squares .square.s6 {
  background-image: url(./MASCULINO\ \(82\).jpg);
}


/* square7 */
#product .content .img-product.changeColor7 {
  background-image: url(./MASCULINO\ \(83\).jpg);
}

#product .content .squares .square.s7 {
  background-image: url(./MASCULINO\ \(83\).jpg);
}


/* square8 */
#product .content .img-product.changeColor8 {
  background-image: url(./MASCULINO\ \(85\).jpg);
}

#product .content .squares .square.s8 {
  background-image: url(./MASCULINO\ \(85\).jpg);
}


/* square9 */
#product .content .img-product.changeColor9 {
  background-image: url(./MASCULINO\ \(86\).jpg);
}

#product .content .squares .square.s9 {
  background-image: url(./MASCULINO\ \(86\).jpg);
}


/* square10 */
#product .content .img-product.changeColor10 {
  background-image: url(./MASCULINO\ \(93\).jpg);
}

#product .content .squares .square.s10 {
  background-image: url(./MASCULINO\ \(93\).jpg);
}