/*=== CHANGE-COLOR ===========================================*/

/* square1 */
#product .content .img-product.changeColor1 {
  background-image: url(./MASCULINO\ \(1\).jpg);
}

#product .content .squares .square.s1 {
  background-image: url(./MASCULINO\ \(1\).jpg);
}


/* square2 */
#product .content .img-product.changeColor2 {
  background-image: url(./MASCULINO\ \(3\).jpg);
}

#product .content .squares .square.s2 {
  background-image: url(./MASCULINO\ \(3\).jpg);
}


/* square3 */
#product .content .img-product.changeColor3 {
  background-image: url(./MASCULINO\ \(4\).jpg);
}

#product .content .squares .square.s3 {
  background-image: url(./MASCULINO\ \(4\).jpg);
}


/* square4 */
#product .content .img-product.changeColor4 {
  background-image: url(./MASCULINO\ \(7\).jpg);
}

#product .content .squares .square.s4 {
  background-image: url(./MASCULINO\ \(7\).jpg);
}


/* square5 */
#product .content .img-product.changeColor5 {
  background-image: url(./MASCULINO\ \(8\).jpg);
}

#product .content .squares .square.s5 {
  background-image: url(./MASCULINO\ \(8\).jpg);
}


/* square6 */
#product .content .img-product.changeColor6 {
  background-image: url(./MASCULINO\ \(9\).jpg);
}

#product .content .squares .square.s6 {
  background-image: url(./MASCULINO\ \(9\).jpg);
}


/* square7 */
#product .content .img-product.changeColor7 {
  background-image: url(./MASCULINO\ \(10\).jpg);
}

#product .content .squares .square.s7 {
  background-image: url(./MASCULINO\ \(10\).jpg);
}
