/*=== CHANGE-COLOR ===========================================*/

/* square1 */
#product .content .img-product.changeColor1 {
  background-image: url(./MASCULINO\ \(12\).jpg);
}

#product .content .squares .square.s1 {
  background-image: url(./MASCULINO\ \(12\).jpg);
}


/* square2 */
#product .content .img-product.changeColor2 {
  background-image: url(./MASCULINO\ \(14\).jpg);
}

#product .content .squares .square.s2 {
  background-image: url(./MASCULINO\ \(14\).jpg);
}


/* square3 */
#product .content .img-product.changeColor3 {
  background-image: url(./MASCULINO\ \(16\).jpg);
}

#product .content .squares .square.s3 {
  background-image: url(./MASCULINO\ \(16\).jpg);
}


/* square4 */
#product .content .img-product.changeColor4 {
  background-image: url(./MASCULINO\ \(22\).jpg);
}

#product .content .squares .square.s4 {
  background-image: url(./MASCULINO\ \(22\).jpg);
}


/* square5 */
#product .content .img-product.changeColor5 {
  background-image: url(./MASCULINO\ \(24\).jpg);
}

#product .content .squares .square.s5 {
  background-image: url(./MASCULINO\ \(24\).jpg);
}


/* square6 */
#product .content .img-product.changeColor6 {
  background-image: url(./MASCULINO\ \(27\).jpg);
}

#product .content .squares .square.s6 {
  background-image: url(./MASCULINO\ \(27\).jpg);
}


/* square7 */
#product .content .img-product.changeColor7 {
  background-image: url(./MASCULINO\ \(29\).jpg);
}

#product .content .squares .square.s7 {
  background-image: url(./MASCULINO\ \(29\).jpg);
}


/* square8 */
#product .content .img-product.changeColor8 {
  background-image: url(./MASCULINO\ \(31\).jpg);
}

#product .content .squares .square.s8 {
  background-image: url(./MASCULINO\ \(31\).jpg);
}


/* square9 */
#product .content .img-product.changeColor9 {
  background-image: url(./MASCULINO\ \(37\).jpg);
}

#product .content .squares .square.s9 {
  background-image: url(./MASCULINO\ \(37\).jpg);
}


/* square10 */
#product .content .img-product.changeColor10 {
  background-image: url(./MASCULINO\ \(44\).jpg);
}

#product .content .squares .square.s10 {
  background-image: url(./MASCULINO\ \(44\).jpg);
}


/* square11 */
#product .content .img-product.changeColor11 {
  background-image: url(./MASCULINO\ \(46\).jpg);
}

#product .content .squares .square.s11 {
  background-image: url(./MASCULINO\ \(46\).jpg);
}


/* square12 */
#product .content .img-product.changeColor12 {
  background-image: url(./MASCULINO\ \(48\).jpg);
}

#product .content .squares .square.s12 {
  background-image: url(./MASCULINO\ \(48\).jpg);
}


/* square13 */
#product .content .img-product.changeColor13 {
  background-image: url(./MASCULINO\ \(51\).jpg);
}

#product .content .squares .square.s13 {
  background-image: url(./MASCULINO\ \(51\).jpg);
}


/* square14 */
#product .content .img-product.changeColor14 {
  background-image: url(./MASCULINO\ \(52\).jpg);
}

#product .content .squares .square.s14 {
  background-image: url(./MASCULINO\ \(52\).jpg);
}


/* square15 */
#product .content .img-product.changeColor15 {
  background-image: url(./MASCULINO\ \(53\).jpg);
}

#product .content .squares .square.s15 {
  background-image: url(./MASCULINO\ \(53\).jpg);
}


/* square16 */
#product .content .img-product.changeColor16 {
  background-image: url(./MASCULINO\ \(70\).jpg);
}

#product .content .squares .square.s16 {
  background-image: url(./MASCULINO\ \(70\).jpg);
}


/* square17 */
#product .content .img-product.changeColor17 {
  background-image: url(./MASCULINO\ \(71\).jpg);
}

#product .content .squares .square.s17 {
  background-image: url(./MASCULINO\ \(71\).jpg);
}


/* square18 */
#product .content .img-product.changeColor18 {
  background-image: url(./MASCULINO\ \(72\).jpg);
}

#product .content .squares .square.s18 {
  background-image: url(./MASCULINO\ \(72\).jpg);
}


/* square19 */
#product .content .img-product.changeColor19 {
  background-image: url(./MASCULINO\ \(76\).jpg);
}

#product .content .squares .square.s19 {
  background-image: url(./MASCULINO\ \(76\).jpg);
}


/* square20 */
#product .content .img-product.changeColor20 {
  background-image: url(./MASCULINO\ \(77\).jpg);
}

#product .content .squares .square.s20 {
  background-image: url(./MASCULINO\ \(77\).jpg);
}


/* square21 */
#product .content .img-product.changeColor21 {
  background-image: url(./MASCULINO\ \(81\).jpg);
}

#product .content .squares .square.s21 {
  background-image: url(./MASCULINO\ \(81\).jpg);
}


/* square22 */
#product .content .img-product.changeColor22 {
  background-image: url(./MASCULINO\ \(82\).jpg);
}

#product .content .squares .square.s22 {
  background-image: url(./MASCULINO\ \(82\).jpg);
}


/* square23 */
#product .content .img-product.changeColor23 {
  background-image: url(./MASCULINO\ \(83\).jpg);
}

#product .content .squares .square.s23 {
  background-image: url(./MASCULINO\ \(83\).jpg);
}


/* square24 */
#product .content .img-product.changeColor24 {
  background-image: url(./MASCULINO\ \(85\).jpg);
}

#product .content .squares .square.s24 {
  background-image: url(./MASCULINO\ \(85\).jpg);
}


/* square25 */
#product .content .img-product.changeColor25 {
  background-image: url(./MASCULINO\ \(86\).jpg);
}

#product .content .squares .square.s25 {
  background-image: url(./MASCULINO\ \(86\).jpg);
}


/* square26 */
#product .content .img-product.changeColor26 {
  background-image: url(./MASCULINO\ \(87\).jpg);
}

#product .content .squares .square.s26 {
  background-image: url(./MASCULINO\ \(87\).jpg);
}


/* square27 */
#product .content .img-product.changeColor27 {
  background-image: url(./MASCULINO\ \(88\).jpg);
}

#product .content .squares .square.s27 {
  background-image: url(./MASCULINO\ \(88\).jpg);
}


/* square28 */
#product .content .img-product.changeColor28 {
  background-image: url(./MASCULINO\ \(89\).jpg);
}

#product .content .squares .square.s28 {
  background-image: url(./MASCULINO\ \(89\).jpg);
}


/* square29 */
#product .content .img-product.changeColor28 {
  background-image: url(./MASCULINO\ \(90\).jpg);
}

#product .content .squares .square.s28 {
  background-image: url(./MASCULINO\ \(90\).jpg);
}


/* square30 */
#product .content .img-product.changeColor28 {
  background-image: url(./MASCULINO\ \(93\).jpg);
}

#product .content .squares .square.s28 {
  background-image: url(./MASCULINO\ \(93\).jpg);
}