/*=== CHANGE-COLOR ===========================================*/

/* square1 */
#product .content .img-product.changeColor1 {
  background-image: url(./FEMININO\ \(7\).jpg);
}

#product .content .squares .square.s1 {
  background-image: url(./FEMININO\ \(7\).jpg);
}


/* square2 */
#product .content .img-product.changeColor2 {
  background-image: url(./FEMININO\ \(8\).jpg);
}

#product .content .squares .square.s2 {
  background-image: url(./FEMININO\ \(8\).jpg);
}


/* square3 */
#product .content .img-product.changeColor3 {
  background-image: url(./FEMININO\ \(9\).jpg);
}

#product .content .squares .square.s3 {
  background-image: url(./FEMININO\ \(9\).jpg);
}


/* square4 */
#product .content .img-product.changeColor4 {
  background-image: url(./FEMININO\ \(10\).jpg);
}

#product .content .squares .square.s4 {
  background-image: url(./FEMININO\ \(10\).jpg);
}


/* square5 */
#product .content .img-product.changeColor5 {
  background-image: url(./FEMININO\ \(14\).jpg);
}

#product .content .squares .square.s5 {
  background-image: url(./FEMININO\ \(14\).jpg);
}


/* square6 */
#product .content .img-product.changeColor6 {
  background-image: url(./FEMININO\ \(15\).jpg);
}

#product .content .squares .square.s6 {
  background-image: url(./FEMININO\ \(15\).jpg);
}


/* square7 */
#product .content .img-product.changeColor7 {
  background-image: url(./FEMININO\ \(16\).jpg);
}

#product .content .squares .square.s7 {
  background-image: url(./FEMININO\ \(16\).jpg);
}


/* square8 */
#product .content .img-product.changeColor8 {
  background-image: url(./FEMININO\ \(20\).jpg);
}

#product .content .squares .square.s8 {
  background-image: url(./FEMININO\ \(20\).jpg);
}

/* square9 */
#product .content .img-product.changeColor9 {
  background-image: url(./FEMININO\ \(21\).jpg);
}

#product .content .squares .square.s9 {
  background-image: url(./FEMININO\ \(21\).jpg);
}

/* square10 */
#product .content .img-product.changeColor10 {
  background-image: url(./FEMININO\ \(23\).jpg);
}

#product .content .squares .square.s10 {
  background-image: url(./FEMININO\ \(23\).jpg);
}


/* square11 */
#product .content .img-product.changeColor11 {
  background-image: url(./FEMININO\ \(24\).jpg);
}

#product .content .squares .square.s11 {
  background-image: url(./FEMININO\ \(24\).jpg);
}


/* square12 */
#product .content .img-product.changeColor12 {
  background-image: url(./FEMININO\ \(25\).jpg);
}

#product .content .squares .square.s12 {
  background-image: url(./FEMININO\ \(25\).jpg);
}
