/*=== CHANGE-COLOR ===========================================*/

/* square1 */
#product .content .img-product.changeColor1 {
  background-image: url(./MASCULINO\ \(20\).jpg);
}

#product .content .squares .square.s1 {
  background-image: url(./MASCULINO\ \(20\).jpg);
}


/* square2 */
#product .content .img-product.changeColor2 {
  background-image: url(./MASCULINO\ \(54\).jpg);
}

#product .content .squares .square.s2 {
  background-image: url(./MASCULINO\ \(54\).jpg);
}


/* square3 */
#product .content .img-product.changeColor3 {
  background-image: url(./MASCULINO\ \(55\).jpg);
}

#product .content .squares .square.s3 {
  background-image: url(./MASCULINO\ \(55\).jpg);
}


/* square4 */
#product .content .img-product.changeColor4 {
  background-image: url(./MASCULINO\ \(56\).jpg);
}

#product .content .squares .square.s4 {
  background-image: url(./MASCULINO\ \(56\).jpg);
}


/* square5 */
#product .content .img-product.changeColor5 {
  background-image: url(./MASCULINO\ \(57\).jpg);
}

#product .content .squares .square.s5 {
  background-image: url(./MASCULINO\ \(57\).jpg);
}


/* square6 */
#product .content .img-product.changeColor6 {
  background-image: url(./MASCULINO\ \(58\).jpg);
}

#product .content .squares .square.s6 {
  background-image: url(./MASCULINO\ \(58\).jpg);
}


/* square7 */
#product .content .img-product.changeColor7 {
  background-image: url(./MASCULINO\ \(59\).jpg);
}

#product .content .squares .square.s7 {
  background-image: url(./MASCULINO\ \(59\).jpg);
}


/* square8 */
#product .content .img-product.changeColor8 {
  background-image: url(./MASCULINO\ \(60\).jpg);
}

#product .content .squares .square.s8 {
  background-image: url(./MASCULINO\ \(60\).jpg);
}

/* square9 */
#product .content .img-product.changeColor9 {
  background-image: url(./MASCULINO\ \(61\).jpg);
}

#product .content .squares .square.s9 {
  background-image: url(./MASCULINO\ \(61\).jpg);
}

/* square10 */
#product .content .img-product.changeColor10 {
  background-image: url(./MASCULINO\ \(62\).jpg);
}

#product .content .squares .square.s10 {
  background-image: url(./MASCULINO\ \(62\).jpg);
}


/* square11 */
#product .content .img-product.changeColor11 {
  background-image: url(./MASCULINO\ \(63\).jpg);
}

#product .content .squares .square.s11 {
  background-image: url(./MASCULINO\ \(63\).jpg);
}


/* square12 */
#product .content .img-product.changeColor12 {
  background-image: url(./MASCULINO\ \(64\).jpg);
}

#product .content .squares .square.s12 {
  background-image: url(./MASCULINO\ \(64\).jpg);
}


/* square13 */
#product .content .img-product.changeColor13 {
  background-image: url(./MASCULINO\ \(96\).jpg);
}

#product .content .squares .square.s13 {
  background-image: url(./MASCULINO\ \(96\).jpg);
}


/* square14 */
#product .content .img-product.changeColor14 {
  background-image: url(./MASCULINO\ \(94\).jpg);
}

#product .content .squares .square.s14 {
  background-image: url(./MASCULINO\ \(94\).jpg);
}


/* square15 */
#product .content .img-product.changeColor15 {
  background-image: url(./MASCULINO\ \(95\).jpg);
}

#product .content .squares .square.s15 {
  background-image: url(./MASCULINO\ \(95\).jpg);
}

/* square16 */
#product .content .img-product.changeColor16 {
  background-image: url(./MASCULINO\ \(97\).jpg);
}

#product .content .squares .square.s16 {
  background-image: url(./MASCULINO\ \(97\).jpg);
}

