/*=== CHANGE-COLOR ===========================================*/

/* square1 */
#product .content .img-product.changeColor1 {
  background-image: url(./MASCULINO\ \(11\).jpg);
}

#product .content .squares .square.s1 {
  background-image: url(./MASCULINO\ \(11\).jpg);
}


/* square2 */
#product .content .img-product.changeColor2 {
  background-image: url(./MASCULINO\ \(13\).jpg);
}

#product .content .squares .square.s2 {
  background-image: url(./MASCULINO\ \(13\).jpg);
}


/* square3 */
#product .content .img-product.changeColor3 {
  background-image: url(./MASCULINO\ \(17\).jpg);
}

#product .content .squares .square.s3 {
  background-image: url(./MASCULINO\ \(17\).jpg);
}


/* square4 */
#product .content .img-product.changeColor4 {
  background-image: url(./MASCULINO\ \(19\).jpg);
}

#product .content .squares .square.s4 {
  background-image: url(./MASCULINO\ \(19\).jpg);
}


/* square5 */
#product .content .img-product.changeColor5 {
  background-image: url(./MASCULINO\ \(21\).jpg);
}

#product .content .squares .square.s5 {
  background-image: url(./MASCULINO\ \(21\).jpg);
}


/* square6 */
#product .content .img-product.changeColor6 {
  background-image: url(./MASCULINO\ \(23\).jpg);
}

#product .content .squares .square.s6 {
  background-image: url(./MASCULINO\ \(23\).jpg);
}


/* square7 */
#product .content .img-product.changeColor7 {
  background-image: url(./MASCULINO\ \(26\).jpg);
}

#product .content .squares .square.s7 {
  background-image: url(./MASCULINO\ \(26\).jpg);
}


/* square8 */
#product .content .img-product.changeColor8 {
  background-image: url(./MASCULINO\ \(28\).jpg);
}

#product .content .squares .square.s8 {
  background-image: url(./MASCULINO\ \(28\).jpg);
}


/* square9 */
#product .content .img-product.changeColor9 {
  background-image: url(./MASCULINO\ \(30\).jpg);
}

#product .content .squares .square.s9 {
  background-image: url(./MASCULINO\ \(30\).jpg);
}


/* square10 */
#product .content .img-product.changeColor10 {
  background-image: url(./MASCULINO\ \(50\).jpg);
}

#product .content .squares .square.s10 {
  background-image: url(./MASCULINO\ \(50\).jpg);
}


/* square11 */
#product .content .img-product.changeColor11 {
  background-image: url(./MASCULINO\ \(25\).jpg);
}

#product .content .squares .square.s11 {
  background-image: url(./MASCULINO\ \(25\).jpg);
}
