/*=== CHANGE-COLOR ===========================================*/

/* square1 */
#product .content .img-product.changeColor1 {
  background-image: url(./FEMININO\ \(1\).jpg);
}

#product .content .squares .square.s1 {
  background-image: url(./FEMININO\ \(1\).jpg);
}


/* square2 */
#product .content .img-product.changeColor2 {
  background-image: url(./FEMININO\ \(2\).jpg);
}

#product .content .squares .square.s2 {
  background-image: url(./FEMININO\ \(2\).jpg);
}


/* square3 */
#product .content .img-product.changeColor3 {
  background-image: url(./FEMININO\ \(3\).jpg);
}

#product .content .squares .square.s3 {
  background-image: url(./FEMININO\ \(3\).jpg);
}


/* square4 */
#product .content .img-product.changeColor4 {
  background-image: url(./FEMININO\ \(4\).jpg);
}

#product .content .squares .square.s4 {
  background-image: url(./FEMININO\ \(4\).jpg);
}


/* square5 */
#product .content .img-product.changeColor5 {
  background-image: url(./FEMININO\ \(5\).jpg);
}

#product .content .squares .square.s5 {
  background-image: url(./FEMININO\ \(5\).jpg);
}


/* square6 */
#product .content .img-product.changeColor6 {
  background-image: url(./FEMININO\ \(6\).jpg);
}

#product .content .squares .square.s6 {
  background-image: url(./FEMININO\ \(6\).jpg);
}


/* square7 */
#product .content .img-product.changeColor7 {
  background-image: url(./FEMININO\ \(11\).jpg);
}

#product .content .squares .square.s7 {
  background-image: url(./FEMININO\ \(11\).jpg);
}


/* square8 */
#product .content .img-product.changeColor8 {
  background-image: url(./FEMININO\ \(12\).jpg);
}

#product .content .squares .square.s8 {
  background-image: url(./FEMININO\ \(12\).jpg);
}

/* square9 */
#product .content .img-product.changeColor9 {
  background-image: url(./FEMININO\ \(17\).jpg);
}

#product .content .squares .square.s9 {
  background-image: url(./FEMININO\ \(17\).jpg);
}


/* square10 */
#product .content .img-product.changeColor10 {
  background-image: url(./FEMININO\ \(18\).jpg);
}

#product .content .squares .square.s10 {
  background-image: url(./FEMININO\ \(18\).jpg);
}