/*=== CHANGE-COLOR ===========================================*/

/* square1 */
#product .content .img-product.changeColor1 {
  background-image: url(./MASCULINO\ \(15\).jpg);
}

#product .content .squares .square.s1 {
  background-image: url(./MASCULINO\ \(15\).jpg);
}


/* square2 */
#product .content .img-product.changeColor2 {
  background-image: url(./MASCULINO\ \(32\).jpg);
}

#product .content .squares .square.s2 {
  background-image: url(./MASCULINO\ \(32\).jpg);
}


/* square3 */
#product .content .img-product.changeColor3 {
  background-image: url(./MASCULINO\ \(33\).jpg);
}

#product .content .squares .square.s3 {
  background-image: url(./MASCULINO\ \(33\).jpg);
}


/* square4 */
#product .content .img-product.changeColor4 {
  background-image: url(./MASCULINO\ \(35\).jpg);
}

#product .content .squares .square.s4 {
  background-image: url(./MASCULINO\ \(35\).jpg);
}


/* square5 */
#product .content .img-product.changeColor5 {
  background-image: url(./MASCULINO\ \(36\).jpg);
}

#product .content .squares .square.s5 {
  background-image: url(./MASCULINO\ \(36\).jpg);
}


/* square6 */
#product .content .img-product.changeColor6 {
  background-image: url(./MASCULINO\ \(38\).jpg);
}

#product .content .squares .square.s6 {
  background-image: url(./MASCULINO\ \(38\).jpg);
}


/* square7 */
#product .content .img-product.changeColor7 {
  background-image: url(./MASCULINO\ \(43\).jpg);
}

#product .content .squares .square.s7 {
  background-image: url(./MASCULINO\ \(43\).jpg);
}


/* square8 */
#product .content .img-product.changeColor8 {
  background-image: url(./MASCULINO\ \(45\).jpg);
}

#product .content .squares .square.s8 {
  background-image: url(./MASCULINO\ \(45\).jpg);
}


/* square9 */
#product .content .img-product.changeColor9 {
  background-image: url(./MASCULINO\ \(47\).jpg);
}

#product .content .squares .square.s9 {
  background-image: url(./MASCULINO\ \(47\).jpg);
}

