/*=== CHANGE-COLOR ===========================================*/

/* square1 */
#product .content .img-product.changeColor1 {
  background-image: url(./MASCULINO\ \(65\).jpg);
}

#product .content .squares .square.s1 {
  background-image: url(./MASCULINO\ \(65\).jpg);
}


/* square2 */
#product .content .img-product.changeColor2 {
  background-image: url(./MASCULINO\ \(66\).jpg);
}

#product .content .squares .square.s2 {
  background-image: url(./MASCULINO\ \(66\).jpg);
}


/* square3 */
#product .content .img-product.changeColor3 {
  background-image: url(./MASCULINO\ \(67\).jpg);
}

#product .content .squares .square.s3 {
  background-image: url(./MASCULINO\ \(67\).jpg);
}


/* square4 */
#product .content .img-product.changeColor4 {
  background-image: url(./MASCULINO\ \(68\).jpg);
}

#product .content .squares .square.s4 {
  background-image: url(./MASCULINO\ \(68\).jpg);
}


/* square5 */
#product .content .img-product.changeColor5 {
  background-image: url(./MASCULINO\ \(69\).jpg);
}

#product .content .squares .square.s5 {
  background-image: url(./MASCULINO\ \(69\).jpg);
}


/* square6 */
#product .content .img-product.changeColor6 {
  background-image: url(./MASCULINO\ \(73\).jpg);
}

#product .content .squares .square.s6 {
  background-image: url(./MASCULINO\ \(73\).jpg);
}


/* square7 */
#product .content .img-product.changeColor7 {
  background-image: url(./MASCULINO\ \(74\).jpg);
}

#product .content .squares .square.s7 {
  background-image: url(./MASCULINO\ \(74\).jpg);
}


/* square8 */
#product .content .img-product.changeColor8 {
  background-image: url(./MASCULINO\ \(75\).jpg);
}

#product .content .squares .square.s8 {
  background-image: url(./MASCULINO\ \(75\).jpg);
}

/* square9 */
#product .content .img-product.changeColor9 {
  background-image: url(./MASCULINO\ \(78\).jpg);
}

#product .content .squares .square.s9 {
  background-image: url(./MASCULINO\ \(78\).jpg);
}

/* square10 */
#product .content .img-product.changeColor10 {
  background-image: url(./MASCULINO\ \(79\).jpg);
}

#product .content .squares .square.s10 {
  background-image: url(./MASCULINO\ \(79\).jpg);
}


/* square11 */
#product .content .img-product.changeColor11 {
  background-image: url(./MASCULINO\ \(80\).jpg);
}

#product .content .squares .square.s11 {
  background-image: url(./MASCULINO\ \(80\).jpg);
}


/* square12 */
#product .content .img-product.changeColor12 {
  background-image: url(./MASCULINO\ \(84\).jpg);
}

#product .content .squares .square.s12 {
  background-image: url(./MASCULINO\ \(84\).jpg);
}


/* square13 */
#product .content .img-product.changeColor13 {
  background-image: url(./MASCULINO\ \(91\).jpg);
}

#product .content .squares .square.s13 {
  background-image: url(./MASCULINO\ \(91\).jpg);
}


/* square14 */
#product .content .img-product.changeColor8 {
  background-image: url(./MASCULINO\ \(92\).jpg);
}

#product .content .squares .square.s8 {
  background-image: url(./MASCULINO\ \(92\).jpg);
}